@model IEnumerable<test_dotnet1.Models.Student>;
@{
    ViewData["Title"] = "หน้าแรก";
}

<h1 class="text-center">คะแนนสอบวิชาประดิษฐ์</h1>

@foreach(var student in Model){
    <p>รหัสนักศึกษา : @student.Id</p>
    <p>ชื่อ : @student.Name</p>
    <p>คะแนน @student.Score</p>
    @if(student.Score >= 50){
        <strong class="text-success">สอบผ่าน</strong>
    }else{
        <strong class="text-danger">สอบไม่ผ่าน</strong>
    }
    <hr/>
}



